
@{
    ViewBag.Title = "GB-Unsubscribe";
}
<hr />
<img src="~/img/GlennonBrothers.PNG" style="width:300px;height:50px" />

<h1>You have been unsubscribed from Glennon Brothers Stock List</h1>

<label class="label-danger">@ViewBag.ErrorMessage</label>




