
@{
    ViewBag.Title = "Subscribe";
}
<hr />
<img src="~/img/GlennonBrothers.PNG" style="width:300px;height:50px" />

<h1>Thank You For Subscribing!</h1>

<label class="label-danger">@ViewBag.ErrorMessage</label>




